/*@media screen and (max-width: 64em) {  */
@media screen and (min-width: 781px) and (max-width: 1000px) {

    

    header {
        height: 15vh;
    }

    header .navbar .nav-item .nav-link {
        font-size: 1em;
        padding: 10px;
    }

    .cover-p {
        display: none;
    }

    .cover-div {
        display: none;
    }


    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 2em;
    }

    main {
        font-size: 90%;
    }

    .title {


        font-size: 2.5em;




    }


    .cover-h1 {
        font-size: 2.5em;
    }

    .navbar-expand .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: space-around !important;
    }



    #imageTropPetite {

        display: none;

    }

    .row {

        margin: 0px;

    }


    #navProthese {
        width: 100%;

    }

    #navOutils {

        width: 100%;

    }


    #navAPropos {

        width: 100%;

    }


    #navbarSupportedContent {
        width: 100%;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .container {

        padding: 0;

    }

    .navbar {

        padding: 0px;

    }

    #margin01 {

        padding: 0;

    }


    header {

        justify-content: space-between;
        align-items: center;
    }

    #taitToi {

        height: 0vh;

    }




    .content {

        padding: 0;

    }



    .cover {

        display: none;

    }



    img {
        max-width: 100%;
        height: auto;


    }

    body {

        background-image: none;

    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 2em;
    }

    main {
        font-size: 90%;
    }




    .dropdownMenuButton {
        font-size: 90%;
    }



    header a {
        font-size: 90%;
    }

    .show {
        font-size: 1.75em;


    }

}
